@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}


footer {
    width: 95%;
    margin: 0 auto;
    background-color: #F5F5F5;
}

footer .line{
    border-top: 5px solid #2B2B2B;
    width: 15%;
    margin: 0 auto;
}

footer span{
    font-size: 5rem;
    border: none;
    text-decoration: none;
    box-shadow: none;
}

