




.slideup {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    animation-duration: 1s;
    visibility: visible;
}

.nav {
    height: 10vh;
}

.navExpand {
    animation-name: navExpand;
    animation-duration: 0.7s;
    height: 13vh;
}

.navShrink {
    animation-name: navShrink;
    animation-duration: 0.5s;
    height: 10vh;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes navExpand {
    0% {
        height: 10vh;
    }

    30% {
        height: 11vh;
    }
    100% {
        height: 13vh;
    }
}

@keyframes navShrink {
    0% {
        height: 13vh;
    }
    100% {
        height: 10vh;
    }
}



