

#nav-open {
    display: inline-flex;
    width: 20px;
    height: 20px;
    position: relative;
}

#nav-open .btn-line {
    display: flex;
    width: 20px;
    height: 3px;
    background: #000;
    border-radius: 3px;
    position: absolute;
    transition: .5s;
    margin: 0 !important;
    padding: 0 !important;

}


#nav-open .btn-line:nth-child(1) {
    top: 0;
    left: 0;
}

#nav-open .btn-line:nth-child(2) {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#nav-open .btn-line:nth-child(3) {
    bottom: 0;
    left: 0;
}

#nav-open:hover .btn-line:nth-child(1) {
    top: 50%;
    transform: translateY(-50%);
}

#nav-open:hover .btn-line:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%);
}

#nav-open.is-active .btn-line:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

#nav-open.is-active .btn-line:nth-child(2){
    transform: translateY(-50%) rotate(-45deg);
}

#nav-open.is-active .btn-line:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
}








.slideup {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    animation-duration: 1s;
    visibility: visible;
}

/* .nav {
    height: 7vh;
} */

.navExpand {
    animation-name: navExpand;
    animation-duration: 1s;
    height: 15vh;
}

.navShrink {
    animation-name: navShrink;
    animation-duration: 0.5s;
    height: 10vh;
}



@media only screen and (max-width: 576px) {
    nav .nav-container {
        height: 8vh;
    }

    .navExpand {
        animation-name: navExpandPhone;
        animation-duration: 1s;
        height: 10vh;
    }
    
    .navShrink {
        animation-name: navShrinkPhone;
        animation-duration: 0.5s;
        height: 8vh;
    }

    @keyframes navExpandPhone {
        0% {
            height: 8vh;
        }

        100% {
            height: 10vh;
        }
    }
    
    @keyframes navShrinkPhone {
        0% {
            height: 10vh;
        }
        100% {
            height: 8vh;
        }
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes navExpand {
    0% {
        height: 10vh;
    }

    30% {
        height: 11vh;
    }
    100% {
        height: 15vh;
    }
}

@keyframes navShrink {
    0% {
        height: 15vh;
    }
    100% {
        height: 10vh;
    }
}


/* @keyframes navExpand {
    0% {
        height: 10vh;
    }

    30% {
        height: 11vh;
    }
    100% {
        height: 15vh;
    }
}

@keyframes navShrink {
    0% {
        height: 15vh;
    }
    100% {
        height: 10vh;
    }
} */




