*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* 
body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5372f0;
} */

.modal-content
{
    width: 380px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 40px 30px 50px 30px;
}

.modal-content .header
{
    font-size: 35px;
    font-weight: 600;
}

.modal-content #login_form, 
.modal-content #register_form
{
    margin: 40px 0;
}

#login_form input,
#register_form input
{
    height: 50px;
    width: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
}

#login_form input::placeholder,
#register_form input::placeholder
{
    color: #bfbfbf;
    font-size: 17px;
}

#login_form .field,
#register_form .field
{
    width: 100%;
    margin-bottom: 20px;
}

#login_form .field .input,
#register_form .field .input
{
    position: relative;
}

#login_form .field i,
#register_form .field i
{
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
}

#login_form .field .icon,
#register_form .field .icon
{
    left: 15px;
    color: #bfbfbf;
}

#login_form .field .error-icon,
#register_form .field .error-icon
{
    right: 15px;
    color: #dc3545;
}

#login_form .field .error-text,
#register_form .field .error-text
{
    margin-top: 5px;
    color: #dc3545;
    text-align: left;
}

#login_form .field .error,
#register_form .field .error
{
    display: none;
}

#login_form input[type = "submit"],
#register_form input[type = 'submit']
{
    margin-top: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #5372f0;
    transition: background 0.2s ease;
}

input[type = "submit"]:hover
{
    background: #2c52ed;
}

#login_form .close,
#register_form .close
{
    position: relative;
    top: 0px;
    left: 150px;
    width: 15px;
    height: 15px;
    font-size: 25px;
    border: none;
    background-color: #fff;
    color: #aaaaaa;
    cursor: pointer;
}

.close:hover
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}